@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    background: linear-gradient(to right, #F707FC 0%, #3867AE 15%, #62359B 30%, #DE27D7 46%, #FF0000 65%, #FFD600 92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
